
__pycache__/today_parser.cpython-37.pyc
__pycache__/team_parser.cpython-37.pyc
__pycache__/standing_parser.cpython-37.pyc
__pycache__/NBA_data.cpython-37.pyc
.idea/workspace.xml
.idea/vcs.xml
.idea/pySpider-NBA-data.iml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
*.pyc
*.png
*.xml
*.xml
.idea/other.xml
